<html>
   <body>
      <div>
         <h1> Sensors </h1>
            <img src="{{url_for('static', filename='position.png')}}" alt="Navigation Sensor: Position">
            <img src="{{url_for('static', filename='velocity.png')}}" alt="Navigation Sensor: Velocity">
            <img src="{{url_for('static', filename='gsensor.png')}}" alt="Parachute Deployment Linear Accelerometer">
        <h1> Commands </h1>
            <img src="{{url_for('static', filename='accel.png')}}" alt="3-Axis Accelerometer">
            <img src="{{url_for('static', filename='commands.png')}}" alt="Device Command">
         <h1> Damage Report </h1> 
            <img src="{{url_for('static', filename='dmg.png')}}" alt="Device Command">
      </div>  
   </body>
</html>